
/***********/
/* contact */
/***********/

#contact {
	position: relative;
	max-width: var(--width-container);
	margin: 100px auto 150px auto;
	padding: 0 20px;
	/* background-color: var(--white-bg); */
  }
  #contact h2 {
	text-align: center;
  }
  .content-contact {
	max-width: 400px;
	margin: 75px auto 50px auto;
	text-align: center;
  }
  .content-contact h5 {
	font-family: "Baskerville";
	font-size: 1.4em;
	margin-bottom: 50px;
	line-height: 1.3em;
  }
  .content-contact p {
	position: relative;
	font-family: "Baskerville", serif;
	margin-bottom: 50px;
	font-size: 1em;
  }
  .content-contact p:last-child:before {
	position: absolute;
	content: "";
	z-index: -2;
	width: 74px;
	height: 18px;
	top: 0;
	left: 50%;
	background-image: url("../static/tilde-contact.png");
	transform: translate(-50%, calc(-50% - 25px)) scale(0.6);
	background-repeat: no-repeat;
  }
  .content-contact p span {
	display: block;
	font-size: 1.5em;
	margin-top: 5px
  }
  .catalogue {
	display: flex;
	justify-content: center;
	text-align: center;
  }
  .catalogue a {
	background-color: var(--dark-color);
	color: var(--light-color);
	padding: 5px 20px;
	outline: 1px var(--dark-color) solid;
	text-transform: uppercase;
	transition: all 300ms ease-in;
  }
  .catalogue a:hover {
	outline-offset: 2px;
  }
  
  /***********/
  /* footer */
  /***********/
  footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgb(0, 0, 0);
	padding: 20px 10vw;
  }
  footer a {
	color: rgb(211, 200, 200);
  }
  footer .retour-top {
	font-size: 18px;
	margin: 0 auto;
  }
  .reseaux {
	flex: 1;
	min-width: 250px;
  }
  .reseaux a {
	margin-right: 10px;
  }