/*************************/
/* stylesheet de timothé */
/*************************/

/*************/
/* VARIABLES */
/*************/
:root {
  --dark-color: #222222;
  --light-color: #fcfcf7;

  --primary-color: #ab743e;
  --second-color: #e1bf8f;
  --third-color: #f8f1e9;

  --h1-size: 2.5em;
  --white-bg: rgba(255, 255, 255, 0.418);

  --width-container: 950px;
  --width-line: 3px;
}

*::selection {
  color: var(--light-color);
  background-color: var(--primary-color);
  -webkit-text-fill-color: var(--light-color);
  -webkit-text-stroke-width: 0px;
}
*::-moz-selection {
  color: var(--light-color);
  background-color: var(--primary-color);
  -webkit-text-fill-color: var(--light-color);
  -webkit-text-stroke-width: 0px;
}

/* Playfair */

@font-face {
  font-family: "Playfair";
  src: url("../static/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Playfair";
  src: url("../static/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 900;
}

/* Lato */

@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Baskerville";
  src: url("../static/BASKVILL.ttf") format("truetype");
  font-style: normal;
}

/***********/
/* COMMUNS */
/***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light-color);
  color: var(--dark-color);
  overflow-x: hidden;
}
h1 {
  font-family: "Baskerville", serif;
  text-transform: uppercase;
}
h2 {
  font-family: "Baskerville", serif;
  font-size: 4em;
  font-weight: 300;
  text-transform: uppercase;
}
h3 {
  font-family: "Playfair", serif;
  font-weight: 400;
}
h4 {
  font-family: "Baskerville", serif;
  font-size: 2.3em;
  font-weight: 400;
  text-transform: uppercase;
}
h5 {
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: 1em;
}
p {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  /* font-style: italic; */
  color: #383737;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.container-polyedre {
  pointer-events: none;
  z-index: -1;
}
.container-polyedre img {
  opacity: 0.2;
}

/* select */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  padding: 3px 5px;
  border: 1px solid var(--dark-color);
  border-radius: 0;
  position: relative;
  border-right-width: 20px;
  background-color: transparent;
  color: var(--dark-color);
  font-weight: bold;
  text-transform: uppercase;
}
select:focus {
  outline: none;
  border-color: var(--dark-color);
}
label {
  position: relative;
  display: inline-block;
}
label:after {
  display: block;
  content: "▾";
  font-size: 20px;
  width: 20px;
  position: absolute;
  height: 20px;
  top: 50%;
  margin-top: -14px;
  right: -1px;
  color: #fff;
  pointer-events: none;
}

/***********/
/* polyedre img */
/***********/
.container-poly {
  position: absolute;
}
.container-poly img {
  width: 100%;
  opacity: 0.1;
}
.container-poly-1 {
  width: 300px;
  left: 85%;
}
.container-poly-2 {
  width: 300px;
}
.container-poly-3 {
  width: 400px;
  left: 70%;
}
/***********/
/* header */
/***********/
body {
  background: white;
}
#paper-texture {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url("../static/texture-paper.png");
  /* background-color: white; */
  background-size: cover;
  opacity: 0.5;
  background-repeat: no-repeat;
  /* background-blend-mode: overlay; */
  pointer-events: none;
}
#map-texture {
  position: fixed;
  z-index: -3;
  width: 100vw;
  height: 100vh;
  background-image: url("../static/texture-map.png");
  background-size: cover;
  opacity: 0.1;
  background-repeat: no-repeat;
  pointer-events: none;
}

/***********/
/* a propos */
/***********/
#infos {
  position: relative;
  background-color: var(--white-bg);
  padding: 0 20px;
}
#infos .container-section {
  padding: 150px 0 100px 0;
  margin: 0 auto;
  max-width: var(--width-container);
}
.content-apropos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}
.apropos-right {
  width: 400px;
}
.apropos-right h3 {
  margin-bottom: 30px;
}
.container-img.img-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  overflow: hidden;
}

.container-domaine,
.vigneron-saison {
  padding: 0 20px;
}

/* .container-vignerons-all{
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}
.container-vignerons-all section{
    height: 100vh;
    scroll-snap-align: start;
} */

/***********/
/* contact */
/***********/

#contact {
  position: relative;
  max-width: var(--width-container);
  margin: 100px auto 150px auto;
  padding: 0 20px;
}
#contact h2 {
  text-align: center;
}
.content-contact {
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
}
.content-contact h5 {
  font-family: "Baskerville";
  font-size: 1.4em;
  margin-bottom: 50px;
  line-height: 1.3em;
}
.content-contact p {
  position: relative;
  font-family: "Baskerville", serif;
  margin-bottom: 50px;
  font-size: 1em;
}
.content-contact p:last-child:before {
  position: absolute;
  content: "";
  z-index: -2;
  width: 74px;
  height: 18px;
  top: 0;
  left: 50%;
  background-image: url("../static/tilde-contact.png");
  transform: translate(-50%, calc(-50% - 25px)) scale(0.6);
  background-repeat: no-repeat;
}
.content-contact p span {
  display: block;
  font-size: 1.5em;
}
.reseaux {
  flex: 1;
  min-width: 250px;
}
.reseaux a {
  margin-right: 10px;
}
.retour-top {
  margin: 0 auto;
}
/***********/
/* footer */
/***********/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: 20px 10vw;
}
footer a {
  color: rgb(211, 200, 200);
}

/***********/
/* responsive */
/***********/
@media screen and (max-width: 750px) {
  :root {
    --h1-size: 1.5em;
  }
  h2 {
    font-size: 3em;
  }
  h4 {
    font-size: 2em;
  }

  #home nav {
    position: fixed;
    bottom: 0;
    right: inherit;
    left: 0;
    width: 100vw;
    background-color: black;
    color: white;
    z-index: 100;
  }
  #home nav ul {
    display: flex;
    justify-content: space-around;
  }
  .domaine-section {
    padding: 100px 0;
  }
  #vignerons .domaine-section:nth-child(2n) .container-domaine {
    flex-direction: row;
  }
  #vignerons .domaine-section:nth-child(2n + 1) .domaine-img {
    margin-left: 0;
  }
  .container-content {
    margin-bottom: 120px;
  }
  .container-all {
    flex-direction: column;
  }
  .list-vigneron-name {
    display: flex;
    flex-wrap: wrap;
    border: inherit;
    border-left: var(--width-line) solid black;
    padding-left: 20px;
    margin-right: 0;
  }
  .list-vigneron-name .nom-vigneron {
    margin-right: 15px;
  }
  .txt-vigneron {
    top: 110%;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --h1-size: 1.2em;
  }
  .container-domaine .container-content {
    min-width: inherit;
  }
}
